.wcs_modal_fileManager_container{
    /* background-color: gold; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: auto;
    font-size: var(--wcs--font-size-small);
    font-family: var(--wcs--font-family);
    
}
.wcs_modal_fileManager_container_items{
    flex-basis: 3rem;
    width: 100%;
    justify-content: center;
    align-items: flex-start;  
    display: flex;
    flex-wrap: nowrap;
}
.wcs_modal_file_input_label_container{
    flex-basis: 50%;
    /* background-color: green; */
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    padding: 0.5rem;
}
.wcs_modal_file_input_input_container{
    flex-basis: 50%;
    /* background-color: rgb(13, 0, 128); */
    height: 3rem;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
/* .wcs_cmsLabel_item{
    background-color: var(--wcs--modal--background);
    flex-basis: 3rem;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    font-family: var(--wcs--font-family);
    font-size: var(--wcs--font-size-small);
    padding-right: 0.5rem;
    text-align: right;
} */