:root {
    --wcs--toolboxbackground: var(--wcs--primary-color);
}

.toolboxContainer {
    background: var(--wcs--toolboxbackground);
    position: absolute;
    width: 26;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    cursor: default !important;
    border-radius: 7px;
    box-shadow: var(--wcs--boxShdow--onBlackScreen);
    border: 1px solid white;
}

.wcs_toolbox_items {
    width: 100%;
    flex-basis: 24px;
    margin: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wcs_toolbox_items a,
.wcs_toolbox_items img {
    width: 24px;
    height: 24px;
}

.wcs_toolbox_items .tooltiptext {
    visibility: hidden;
    min-width: 100px;
    background-color: rgb(255, 255, 255);
    color: black;
    text-align: center;
    border-radius: 1px;
    position: absolute;
    z-index: 1;
    right: 100%;
    margin-right: 5px;
    /* border: 1px solid white; */
}

.wcs_toolbox_items:hover .tooltiptext {
    visibility: visible;
}

.wcs_toolbox_items:hover .tooltiptext {
    visibility: visible;
}

.wcs_grabbable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.wcs_grabbable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}